/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
 body {
  font: 600 14px/24px "Open Sans", 
      "HelveticaNeue-Light", 
      "Helvetica Neue Light", 
      "Helvetica Neue", 
      Helvetica, Arial, 
      "Lucida Grande", 
      Sans-Serif;
      height: 100%
  }
  h1 {
    color: #9799a7;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  .container:before, .container:after {
    content: "";
    display: table;
  }
  .container:after {
    clear: both;
  }
  .container {
    background: #eaeaed;
    margin-bottom: 24px;
    *zoom: 1;
  }
  .container, section {
    border-radius: 6px;
  }
  section {
    background: #2db34a;
    color: #fff;
    margin: 1.858736059%;
    padding: 20px 0;
    text-align: center;
  }
  section {
    float: left;
    width: 95%;
    
  }
  section > table {
    margin: 5%;
    text-align: left;
  }
  ul {
  list-style-type: disc;
  text-align: left;
  }
  table {
    width: 90%;
  }

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  /* border: 2px solid rgb(72, 129, 146); */
  border-radius: 45px;
}

.button1:hover {
  background-color: rgb(110, 156, 207);
  color: white;
   border-radius: 45px;
}